.sign-in {
    width: 400px;
    display: flex;
    flex-direction: column;

    .title {
        margin: 10px 0;
    }

    .buttons {
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: space-between;
    }
}

